
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card about-card">
        <div class="card-header card-header-text card-header-success">
            <div class="card-text">
                <h4 class="card-title">Hakkımızda</h4>
            </div>
        </div>
        <div class="card-body">
            <h4 class="title">Misyonumuz</h4>
            <blockquote class="blockquote text-center">
                <p class="mb-0">İlim ve fen ve ihtisas nerede varsa, sanat nerede varsa gidip öğrenmeye mecburuz.</p>
                <footer class="blockquote-footer"><cite title="Source Title">Mustafa Kemal Atatürk</cite></footer>
            </blockquote>
            <h4 class="title">Biz Kimiz?</h4>
            <p class="about-paragraf">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum fringilla sem quis dictum. Vivamus sagittis ante fringilla, elementum ligula non, aliquam felis. Quisque ut iaculis diam. Nullam et libero ut libero finibus viverra eu id mi. Fusce ac porttitor nibh. Integer ex tortor, ullamcorper sed tellus sed, scelerisque aliquam enim. Donec neque velit, consequat sit amet purus varius, rhoncus interdum nisl. Nullam aliquet dui dui, ac viverra magna commodo eget. Fusce venenatis magna quis massa commodo dictum. Interdum et malesuada fames ac ante ipsum primis in faucibus. <br /> <br />

                Aenean tincidunt nec ligula vitae auctor. Sed lectus purus, condimentum quis libero eget, pharetra lobortis nulla. Fusce lectus leo, imperdiet eu semper eget, consectetur ac massa. Ut suscipit ornare sapien, et bibendum lorem auctor in. Phasellus faucibus tellus a velit efficitur, sit amet tempor nunc dapibus. Ut consequat est ut urna congue, id ullamcorper dolor sagittis. Proin volutpat blandit est, nec pulvinar lacus consectetur et. Integer cursus tellus et justo porttitor ultrices. Donec vel mauris vel mauris tincidunt varius sed eu diam. Ut mollis libero ut lorem tempus dignissim. Mauris vel lorem eu urna lacinia dapibus. Donec nec nulla purus. Proin arcu justo, bibendum vel metus at, mollis auctor turpis. Quisque dictum diam et sem maximus facilisis.
            </p>
            <h4 class="title">Ekibimiz</h4>

            <div class="row">

                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="~/Content/Images/me.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Tolgahan Çepel</h4>
                            <p class="card-text">CEO Founder</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="~/Content/Images/female.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Natalia Romanova</h4>
                            <p class="card-text">Software Developer</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4">
                        <img class="card-img-top" src="~/Content/Images/male.png" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Bruce Banner</h4>
                            <p class="card-text">Anger Management Specialist</p>
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>
