
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>Blog</h2>

@model List<cet.Models.Blog>

<p>
    <a href="/Admin/BlogEkle" class="btn btn-success btn-sm tooltips pull-right" title="Yeni Blog" style="margin-top:-33px;">Yeni Blog</a>
</p>
<table class="table">
    <tr>
        <th>
            Başlık
        </th>
        <th>
            Fotoğraf
        </th>
        <th>
            Tarih
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Baslik)
            </td>

            @if (item.BlogFoto == null)
            {
                <td><img style='height:25px; width:55px; height:auto; border:solid 1px #cccccc;' src="~/Content/Uploads/default_resim.jpg" alt="" /></td>
            }
            else
            {
                <td>
                    <img style='height:25px; width:55px; height:auto; border:solid 1px #cccccc;' src="data:Uploads/jpg;base64,@System.Convert.ToBase64String(item.BlogFoto)" />
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.OlusturmaTarihi)
            </td>

            <td>
                <a class="btn btn-warning btn-sm" href="/Admin/BlogDuzenle?BlogId=@item.Id">Düzenle</a>
                <a class="btn btn-info btn-sm" href="/Home/BlogDetay?id=@item.Id">Detay</a>
                @Html.ActionLink("Sil", "/BlogSil", new { BlogId = item.Id }, new { @class = "btn btn-sm btn-danger tooltips", onclick = "return confirm('Silmek İstediğinize Emin Misinizin ?');" })
            </td>
        </tr>
    }

</table>