
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<a href="/Admin/Blog" class="btn btn-success btn-lg ">Blog</a>
<a href="/Admin/Etkinlik" class="btn btn-success btn-lg ">Etkinlik</a>
<a href="/Admin/Slider" class="btn btn-success btn-lg ">Slider</a>
<a href="/Home/" class="btn btn-success btn-lg ">Siteye Dön</a>


