.navbar-brand {
    width: 150px;
    height: 40px;
    border-radius: 20%;
    overflow: inherit;
    margin-top: -20px;
}

.navbar.bg-primary {
    background-color: #005874 !important;
    box-shadow: none;
}

.company-desc {
    width: 220px;
    height: 50px;
    margin-bottom: inherit;
}

.btn.btn-primary {
    background-color: #ddaa16;
}

body {
    background-color: #f7f7f7 !important;
}


    .btn.btn-primary:focus, .btn.btn-primary.focus, .btn.btn-primary:hover {
        background-color: #2e576c;
    }

.card {
    height: 93% !important;
}

    .card .card-header-primary, .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
        background: linear-gradient(60deg, #0079a0, #002b39);
    }



.info {
    text-align: center;
}

.icon.icon-primary {
    color: #2e576c;
}

#my_margin {
    margin-top: 20px !important;
}

#my_center {
    width: 50%;
    margin: 0 auto;
}

.w-100 {
    max-height: 500px;
    margin: 0 auto;
}


.navbar-expand-lg .navbar-toggler {
    background-color: #ddaa16;
}

.navbar-collapse::after {
    background-color: #2e576c;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
    color: red !important;
}

.navbar-nav {
    margin-left: auto;
}

.navbar.bg-primary .dropdown-item:hover, .navbar.bg-primary .dropdown-item:focus {
    background-color: #ddaa16;
}

#search_card {
    height: 70px !important;
    margin-top: 30px !important;
}

#category_card {
    height: 150px !important;
    margin-top: 50px !important;
}

#category_text {
    font-size: 12pt;
}


.form-control,
.is-focused .form-control {
    background-image: linear-gradient(to top, #2e576c 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}


.card-head {
    height: 50px !important;
}

.card-title {
    margin-top: -5px !important;
}

.blog-post {
    height: 500px !important;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #ddaa16;
}

.pagination > .page-item.active > a, .pagination > .page-item.active > a:focus, .pagination > .page-item.active > a:hover, .pagination > .page-item.active > span, .pagination > .page-item.active > span:focus, .pagination > .page-item.active > span:hover {
    background-color: #2e576c;
    border-color: #2e576c;
}

.iletisim-padding {
    padding: 20px 30px 20px 30px;
}

.card .card-header-primary {
    box-shadow:none;
}


.etkinlik-text {
    margin-top:5px !important;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color:white;
    font-weight:600;
    margin-right:50px;
    font-size:12pt;
    font-family:Roboto;
}

.bottom-left::after{
    color:red;
}

.etkinlik-badge {
    margin-left:-5px !important;
}

.etkinlik-tarih {
    font-size:14pt;
    text-transform:none !important;
}

.etkinlik-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #101010 100%);
    margin-top: -150px;
    height: 150px;
    width: 100%;
    content: '';
}

.etkinlik-card {
    margin-bottom: 10px;
}

.etkinlik-kategori {
    margin:auto;
}

.card-body {
    background-color: white !important;
}

hr {
    height: 6px;
    color: red;
    background-color: #e91e63;
    margin: unset;
    margin-bottom: 5px;
    border-bottom-left-radius:0.2rem;
    border-bottom-right-radius:0.2rem;
}



.about-card {
    margin-top: 50px;
}

.about-paragraf {
    text-align:justify;
}

a {
    color: white;
}

a:hover {
    color: #2e576c;
}

.icerik-sinirla{
    overflow: hidden;
}

.centered {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}